.chat-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50vw;
  max-width: 1000px;
  min-width: 360px;
  margin: 20px auto;
  padding-bottom: 20px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px 0 200px;
  margin-top: 20px;
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 900px) {
  .chat-container {
    width: 100%;
    max-width: 100%;
    padding: 8px 12px;
  }

  .chat-box {
    padding-bottom: 100px;
  }
}
